<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/style.css" />
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">


</head>
<body>
 
  <div id="addData">
    <p id="agregar">AGREGAR PRODUCTOS</p>
    <p class="newData">TÍTULO</p>
    <input type="text" id="title">
    <p class="newData">IMAGEN</p>
    <input type="text" id="url">
    <p class="newData">PRECIO</p>
    <input type="text" id="price">
    <button id="add">AGREGAR</button>
    <button id="goHome">Ir a home</button>
  </div>


  <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
  <script src="/javascripts/main.js"></script>
</body>
</html>